.leaflet-superbar-button {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
  background-color: #fff;
  font-size: 26px;
  padding: 10px;
  width: 221px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  z-index: 1000;
  transition: left 0.5s linear, background-color 0.3s ease;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  span {
    display: inline-block;
    transition: transform 0.6s ease;
  }

  &.hidden {
    left: -178px;
  }

  &.rotated span {
    transform: rotate(45deg);
  }
}

.leaflet-superbar {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0px;
  left: -221px;
  bottom: 0px;
  width: 200px;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1000;
  transition: left 0.5s linear;
  cursor: pointer;
  &__header {
    background-color: rgb(88, 196, 88);
    padding: 5px;
  }
  &__body {
    &__layersList {
      padding: 5px;
      &__layer {
        &:hover {
          background-color: rgba(0, 0, 0, 0.253);
        }
      }
    }
  }
  &.visible {
    left: 0px;
  }
}
