$HEAD_COLOR: White;
$HEAD_TEXT_COLOR: Black;

$BODY_COLOR: rgb(86, 141, 212);

$TOOLBAR_COLOR: rgb(179, 233, 174);

$TOGGLE_BUTTON_COLOR: #568dd4;
$TOGGLE_TEXT_COLOR: White;

$LAYERS_NAME_COLOR: White;
$LAYERS_GEOMETRY_COLOR: black;
