$HEAD_COLOR: White;
$HEAD_TITLE_COLOR: rgb(138, 23, 23);
$HEAD_TITLE_FONT_FAMILY: cursive;
$HEAD_TITLE_FONT_SIZE: 20px;

$HEAD_LOGO_WIDHT: 80px;
$HEAD_LOGO_HEIGHT: 80px;

$BODY_COLOR: rgb(86, 141, 212);

$TOOLBAR_COLOR: rgb(179, 233, 174);

$TOOLBAR_IMPORT_BUTTON_WIDTH: 30px;
$TOOLBAR_IMPORT_BUTTON_HEIGHT: 30px;

$TOGGLE_BUTTON_COLOR: #568dd4;
$TOGGLE_TEXT_COLOR: White;

$LAYERS_NAME_COLOR: White;
$LAYERS_NAME_FONT_SIZE: 15px;
$LAYERS_NAME_FONT_FAMILY: cursive;
$LAYERS_GEOMETRY_COLOR: black;
